body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: radial-gradient(rgb(3, 148, 117), #ced4da, #EB7B4B);
}

h2 {
  color: rgb(3, 148, 117);
}

table>thead {
  background-color: rgb(3, 148, 117);
  color: white;
}

tbody>tr:nth-child(even) {
  background-color: #F8F9FA;
  color: rgb(3, 148, 117);
  font-weight: bold;
}

tbody>tr:nth-child(odd) {
  background-color: #FFFFFF;
  font-weight: 500;
}

.row {
  border: 2px solid rgb(3, 148, 117);
  border-radius: 4px;
  border-right: 0;
  border-left: 0;
  box-shadow: -15px 8px 4px 5px #EB7B4B;
}